button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight:bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
#increment-btn{
    background:darkred;
}
h2{
    font-size50px;
    margin-top:0;
    margin: bottom 20px;;
}